
@{
    ViewBag.Title = "Burası default sayfası";
}

<h2>Burası default sayfası</h2>

<p>
    Index isimli view ı oluşturmak için üstteki Index e sağ tıklayıp açılan menüden Add View seçeneğine tıklıyoruz. Burada Mvc5 view ı seçip next butonuna basıp bir sonraki sayfada Add diyerek View ı oluşturuyoruz.
</p>

<p>
    Controllerdan her hangi bir view a gitmek istersek ilgili Action adına(Index gibi) sağ klik yapıp Go To View menüsüne tıklarsak bizi o action un ön yüz sayfası olan view a götürecektir.
</p>

<p>
    Bir view sayfasından bu View ın controller daki actionuna gitmek istersek de ilgili view sayfasında sağ klik yapıp Go to Controller menüsüne tıklarsak bizi controller daki action a götürecektir.
</p>

<p>
    Mvc de bu sayfa gibi alt sayfalarda html şablon kodları yer almaz. Bu kodlar Views > Shared klasörü altındaki _Layout.cshtml sayfasında yer alır.
</p>

<p>
    Mvc uygulaması sayfalarda kullanılacak Layout dosyasına Views klasöründeki _ViewStart dosyasına bakarak karar verir.
</p>

<p>
    Alt sayfa içerikleri Layout şablonundaki RenderBody metoduna gönderilir ve bu metodun bulunduğu yerde çalışır.
</p>