@model List<string>


<ul class="list-group">
    @foreach (var kategori in Model)
    {
        <li class="list-group-item">
            <a href="/Home/Index?kategori=@kategori">
                @kategori
            </a>
        </li>
    }
</ul>