
<li>
    <a class="nav-link" href="/MVC07Section">Section</a>
</li>

<li>
    <a class="nav-link" href="/MVC08Partial">Partial</a>
</li>

<li>
    <a class="nav-link" href="/MVC09ViewResults">ViewResults</a>
</li>

<li>
    <a class="nav-link" href="/MVC10FileUpload">FileUpload</a>
</li>

<li>
    <a class="nav-link" href="/MVC11Cookie">Cookie</a>
</li>

<li>
    <a class="nav-link" href="/MVC12Session">Session</a>
</li>

<li>
    <a class="nav-link" href="/MVC13StringFormat">StringFormat</a>
</li>

<li>
    <a class="nav-link" href="/MVC14AppSetting">AppSetting</a>
</li>
