
<li>
    <a href="/MVC03DataTransfer">Data Transfer</a>
</li>

<li>
    <a href="/MVC04ModelBinding">Model Binding</a>
</li>

<li>
    <a href="/MVC05ModelValidation">Model Validation</a>
</li>

<li>
    <a href="/MVC06Section">Section</a>
</li>

<li>
    <a href="/MVC07Partial">Partial</a>
</li>
