
<li>
    <a class="nav-link @ViewBag.CurrentMenu" href="/MVC08Partial">Partial</a>
</li>

<li>
    <a class="nav-link" href="/MVC09ViewResults">ViewResults</a>
</li>

<li>
    <a class="nav-link" href="/MVC10FileUpload">FileUpload</a>
</li>

<li>
    <a class="nav-link" href="/MVC11Cookie">Cookie</a>
</li>

<li>
    <a class="nav-link" href="/MVC12Session">Session</a>
</li>

<li>
    <a class="nav-link" href="/MVC13StringFormat">StringFormat</a>
</li>

<li class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        İleri MVC
    </a>

    <div class="dropdown-menu">
        <a class="dropdown-item" href="/MVC14AppSetting">AppSetting</a>
        <a class="dropdown-item" href="/MVC15FiltersUsing">FiltersUsing</a>
        <a class="dropdown-item" href="/MVC16HttpContext">HttpContext</a>
    </div>
</li>

<li class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Area Kullanımı
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/Admin">Admin</a>
        <a class="dropdown-item" href="/Blog">Blog</a>
    </div>
</li>