
@{
    ViewData["Title"] = "Session Oluştur";
}

<h1>Session Oluştur</h1>

<form asp-action="SessionOlustur">
    <input type="text" name="kullaniciAdi" placeholder="Kullanıcı Adı" />
    <input type="text" name="sifre" placeholder="Şifre" />
    <input type="submit" value="Giriş" />
</form>

<a asp-action="SessionOku">
    Session Oku Sayfasına Git
</a>