
@{
    ViewData["Title"] = "Mvc Session Kullanımı";
}

<h1>Mvc Session Kullanımı</h1>

<p>
    Session yapısı sunucu taraflı oturum işlemleri veya veri taşıma yöntemi olarak sayfalar arasında güvenli bir şekilde kullanabileceğimiz nesnelerdir.
</p>

<p>
    Klasik .net framework mvc de session lar direk kullanılabilir fakat .net core da session kullanabilmek için program.cs dosyasında tanımlama yapmalıyız.
</p>

<h1>Session Oluştur</h1>

<form asp-action="SessionOlustur" method="post">
    <input type="text" name="kullaniciAdi" placeholder="Kullanıcı Adı" />
    <input type="text" name="sifre" placeholder="Şifre" />
    <input type="submit" value="Giriş" />
</form>

<a asp-action="SessionOku">
    Session Oku Sayfasına Git
</a>

@Html.Raw(TempData["Mesaj"])