
@{
    ViewData["Title"] = "Cookie Oku";
}

<h1>Cookie Oku</h1>

<a asp-action="Index">
    Cookie Oluştur
</a>
<hr />
<a asp-action="CookieSil">
    Cookie Sil
</a>

<hr />

<div>
    Cookie deki kullanıcı adı :
    <b>
        @Context.Request.Cookies["kullaniciAdi"]
    </b>
</div>

<hr />

<div>
    Cookie deki kullanıcı guid :
    <b>
        @Context.Request.Cookies["userguid"]
    </b>
</div>