
@{
    ViewBag.Title = "Blog Anasayfa";
}

<header class="masthead" style="background-image: url('https://startbootstrap.github.io/startbootstrap-clean-blog-jekyll/img/bg-index.jpg')">

    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Clean Blog</h1>

                    <span class="subheading">A Blog Theme by Start Bootstrap</span>

                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">



            <!-- Home Post List -->


            <article class="post-preview">
                <a href="/startbootstrap-clean-blog-jekyll/2020/01/31/man-must-explore.html">
                    <h2 class="post-title">Man must explore, and this is exploration at its greatest</h2>

                    <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>

                </a>
                <p class="post-meta">
                    Posted by

                    Start Bootstrap

                    on
                    January 31, 2020 · <span class="reading-time" title="Estimated read time">

                        4 mins  read
                    </span>

                </p>
            </article>

            <hr>



            <article class="post-preview">
                <a href="/startbootstrap-clean-blog-jekyll/2020/01/31/heartbeats.html">
                    <h2 class="post-title">I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.</h2>

                    <h3 class="post-subtitle">Never in all their history have men been able truly to conceive of the world...</h3>

                </a>
                <p class="post-meta">
                    Posted by

                    Start Bootstrap

                    on
                    January 31, 2020 · <span class="reading-time" title="Estimated read time">

                        4 mins  read
                    </span>

                </p>
            </article>

            <hr>



            <article class="post-preview">
                <a href="/startbootstrap-clean-blog-jekyll/2020/01/30/prophecy.html">
                    <h2 class="post-title">Science has not yet mastered prophecy</h2>

                    <h3 class="post-subtitle">We predict too much for the next year and yet far too little for the next ten.</h3>

                </a>
                <p class="post-meta">
                    Posted by

                    Start Bootstrap

                    on
                    January 30, 2020 · <span class="reading-time" title="Estimated read time">

                        4 mins  read
                    </span>

                </p>
            </article>

            <hr>



            <article class="post-preview">
                <a href="/startbootstrap-clean-blog-jekyll/2020/01/29/exploration.html">
                    <h2 class="post-title">Failure is not an option</h2>

                    <h3 class="post-subtitle">Many say exploration is part of our destiny, but it’s actually our duty to future generations.</h3>

                </a>
                <p class="post-meta">
                    Posted by

                    Start Bootstrap

                    on
                    January 29, 2020 · <span class="reading-time" title="Estimated read time">

                        4 mins  read
                    </span>

                </p>
            </article>

            <hr>



            <article class="post-preview">
                <a href="/startbootstrap-clean-blog-jekyll/2020/01/28/dreams.html">
                    <h2 class="post-title">The dreams of yesterday are the hopes of today and the reality of tomorrow.</h2>

                    <h3 class="post-subtitle">Never in all their history have men been able truly to conceive of the world...</h3>

                </a>
                <p class="post-meta">
                    Posted by

                    Start Bootstrap

                    on
                    January 28, 2020 · <span class="reading-time" title="Estimated read time">

                        4 mins  read
                    </span>

                </p>
            </article>

            <hr>



            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="/startbootstrap-clean-blog-jekyll/posts">View All Posts →</a>
            </div>

        </div>
    </div>
</div>

