
@{
    ViewData["Title"] = "Mvc Cookie (Çerez) Kullanımı";
}

<h1>Mvc Cookie (Çerez) Kullanımı</h1>

<p>
    Çerezler kullanıcının cihazında saklanan küçük verilerdir.
    <br />
    Güvenlik gerektiren verileri burada kullanmak sakıncalıdır.
    <br />
    Kullanıcıyı tanımlamak ve sonraki girişinde tanıyabilmek için kullanılır.
</p>

