@{
    ViewData["Title"] = "Jquery Ürünler";
}

<div class="text-center">
    <h1 class="display-4">Jquery ile Web API Kullanımı</h1>
    <p>
        Asp.Net Core Jquery ile web api projesinin kullanım örnekleri.
    </p>

</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Yeni Kayıt
</button>

<table id="urunler" class="table table-striped table-hover">
    <tr>
        <th></th>
        <th>Id</th>
        <th>Kategori</th>
        <th>Marka</th>
        <th>Ürün Resmi</th>
        <th>Ürün Adı</th>
        <th>Fiyat</th>
        <th>Stok</th>
        <th>Eklenme Tarihi</th>
        <th></th>
    </tr>
    <tbody id="products"></tbody>
</table>

<button id="deleteSelected" class="btn btn-warning">Seçilenleri Sil</button>

<input type="hidden" id="Id" />
<input type="hidden" id="ImageName" />

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ürün Bilgileri</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td>Kategori</td>
                        <td>
                            <select name="Kategoriler" id="Kategoriler" class="form-select">
                                <option>Seçiniz</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Marka</td>
                        <td>
                            <select id="Markalar" class="form-select">
                                <option>Seçiniz</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Ürün Adı</td>
                        <td>
                            <input type="text" id="Name" value="" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Resim</td>
                        <td>
                            <input type="file" name="Image" class="form-control" />
                            <span id="Image"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Fiyat</td>
                        <td>
                            <input type="text" id="Price" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Stok</td>
                        <td>
                            <input type="text" id="Stock" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Açıklama</td>
                        <td>
                            <textarea id="Description" rows="5" class="form-control"></textarea>
                        </td>
                    </tr>
                </table>
                <div id="sonuc" class="alert alert-info" style="display:none"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary me-auto" data-bs-dismiss="modal">Vazgeç</button>
                <input type="submit" value="Ekle" class="btn btn-primary" onclick="Ekle()" />
                <input type="submit" value="Güncelle" class="btn btn-success" onclick="Guncelle()" id="btnGuncelle" disabled />
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $.get('https://localhost:7116/api/Products', function (data) {
            // console.log(data)
            // Ekrandaki div elementini seç
            let div = $('#products');
            // Ürünleri div içine yazdır
            data.forEach(item => {
                div.append(`<tr data-id="${item.id}"><td><input type="checkbox" class="selectRow"></td><td>${item.id}</td><td>${item.category.name}</td><td>${item.brand.name}</td>
                                                                                  <td><a href="/Home/ProductDetail/${item.id}"><img src="https://localhost:7116/Img/${item.image}" alt="" height="34" /></a></td>
                                                                            <td>${item.name}</td>
                                                                            <td>${item.price} ₺</td>
                                                                            <td>${item.stock}</td>
                                                                            <td>${item.createDate}</td>
                                                                            <td><input type="button" value="Düzenle" class="btn btn-sm btn-primary" onclick="Edit(${item.id})"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                                                        <input data-id="${item.id}" type="button" value="Sil" class="btn btn-sm btn-danger">
                                                                            </td>
                                                                    </tr>`);
            });
        })
            .catch(error => {
                // Hata olursa konsola yazdır
                console.error(error);
            });

        // Kategoriler
        function Getcategories() {
            $.get('https://localhost:7116/api/categories', function (data) {
                // console.log(data)
                // Ekrandaki div elementini seç
                let elm = $('#Kategoriler');
                // Ürünleri div içine yazdır
                data.forEach(item => {
                    let option = new Option(item.name, item.id)
                    // console.log(option)
                    elm.append(option)
                });
            })
                .catch(error => {
                    // Hata olursa konsola yazdır
                    console.error(error);
                });
        }

        Getcategories();

        // Markalar
        function Getbrands() {
            $.get('https://localhost:7116/api/brands', function (data) {
                // console.log(data)
                // Ekrandaki div elementini seç
                let elm = $('#Markalar');
                // Ürünleri div içine yazdır
                data.forEach(item => {
                    let option = new Option(item.name, item.id)
                    // console.log(option)
                    elm.append(option)
                });
            })
                .catch(error => {
                    // Hata olursa konsola yazdır
                    console.error(error);
                });
        }

        Getbrands();

        function Ekle() {
            if (!$('#Name').val()) {
                alert("Ürün Adı Boş Bırakılamaz!")
                return false;
            }
            // file upload
            const formData = new FormData();
            const fileField = document.querySelector('input[type="file"]');

            //formData.append("username", "abc123");
            formData.append("formFile", fileField.files[0]);

            var product = {
                Name: $("#Name").val(),
                CategoryId: $("#Kategoriler").val(),
                BrandId: $("#Markalar").val(),
                Image: formData.get("formFile").name, // document.getElementById("Image").value,
                // IsActive: $("#IsActive")[0].checked,
                // IsHome: $("#IsHome")[0].checked,
                Stock: $("#Stock").val(),
                Price: $("#Price").val(),
                Description: $("#Description").val()
            }

            console.log(product)
            console.log(JSON.stringify(product))
            $.ajax({
                method: 'POST',
                url: "https://localhost:7116/api/Products/",
                // type: "json",
                headers: { 'Content-Type': 'application/json' },
                data: JSON.stringify(product),
                success: function (data) {
                    //gelen sonuc
                    // console.log(data);
                    upload(formData);
                    location.reload()
                },
                error: function (err) {
                    $("#sonuc").show().removeClass("alert-info").addClass("alert-danger").html("Hata Oluştu! Mesajınız Gönderilemedi!").delay("10000").fadeOut();
                }
            })
        }

        function Edit(id) {
            $.get('https://localhost:7116/api/Products/' + id, function (item) {
                console.log(item)
                // Ekrandaki div elementini seç
                $('#Id').val() = item.id;
                $('#Kategoriler').val() = item.categoryId;
                $('#Markalar').val() = item.brandId;
                $('#Name').val() = item.name;
                $('#Description').val() = item.description;
                $('#Price').val() = item.price;
                $('#Stock').val() = item.stock;
                $('#ImageName').val() = item.image;
                $("#Image").html("<img src='https://localhost:7116/Img/" + item.image + "' height='50' />")
            })
                .catch(error => {
                    // Hata olursa konsola yazdır
                    console.error(error);
                });
            $("#btnGuncelle").removeAttr("disabled")
        }

        function Guncelle() {
            if (!$('#Name').val()) {
                alert("Ürün Adı Boş Bırakılamaz!")
                return false;
            }
            var id = $('#Id').val();
            var resim = $('#ImageName').val();
            // file upload
            const formData = new FormData();
            const fileField = document.querySelector('input[type="file"]');

            //formData.append("username", "abc123");
            formData.append("formFile", fileField.files[0]);

            if (fileField.files[0]) {
                resim = formData.get("formFile").name
            }
            var product = {
                Id: id,
                Name: $("#Name").val(),
                CategoryId: $("#Kategoriler").val(),
                BrandId: $("#Markalar").val(),
                Image: resim,
                // IsActive: $("#IsActive")[0].checked,
                // IsHome: $("#IsHome")[0].checked,
                Stock: $("#Stock").val(),
                Price: $("#Price").val(),
                Description: $("#Description").val()
            }
            $.ajax({
                method: 'PUT',
                url: "https://localhost:7116/api/Products/" + id,
                // type: "json",
                headers: { 'Content-Type': 'application/json' },
                data: JSON.stringify(product),
                success: function (data) {
                    //gelen sonuc
                    // console.log(data);
                    upload(formData);
                    location.reload()
                },
                error: function (err) {
                    $("#sonuc").show().removeClass("alert-info").addClass("alert-danger").html("Hata Oluştu! Mesajınız Gönderilemedi!").delay("10000").fadeOut();
                }
            })
        }

        function Delete(id) {
            $.ajax({
                url: 'https://localhost:7116/api/Products/' + id,
                type: 'DELETE',
                success: function (data) {
                    //gelen sonuc
                    // console.log(data);
                    location.reload()
                },
                error: function (err) {
                    $("#sonuc").show().removeClass("alert-info").addClass("alert-danger").html("Hata Oluştu! Mesajınız Gönderilemedi!").delay("10000").fadeOut();
                }
            });
        }

        $("#urunler tbody").on("click", "tr .btn-danger", function () {
            if (confirm('Kaydı silmek istediğinize emin misiniz?')) {
                console.log($(this).data("id"));
                Delete($(this).data("id"))
            }
        });

        // file upload
        function upload(formData) {
            try {
                $.ajax({
                    url: 'https://localhost:7116/api/Upload',
                    data: formData,
                    type: 'POST',
                    contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
                    processData: false, // NEEDED, DON'T OMIT THIS
                    // ... Other options like success and etc
                });
                console.log("Success:", result);
            } catch (error) {
                console.error("Error:", error);
            }
        }

        $(function () {
            // Checkbox seçildiğinde çalışacak işlevi tanımlayın
            $(".selectRow").change(function () {
                if ($(this).is(":checked")) {
                    $(this).closest("tr").addClass("table-danger");
                } else {
                    $(this).closest("tr").removeClass("table-danger");
                }
            });

            // Silme işlemi için seçili satırları kullanabilirsiniz
            $("#deleteSelected").click(function () {
                if (confirm('Seçili kayıtları silmek istediğinize emin misiniz?')) {
                    $(".table-danger").each(function () {
                        // Silme işlemini gerçekleştirin (örneğin, AJAX ile sunucuya gönderin)
                        const dataId = $(this).data("id");
                        console.warn(dataId);
                        // $(this).remove();

                        Delete(dataId)
                    });
                }
            });
        });
    </script>
}