
@{
    ViewBag.Title = "Web.Config Dosyasından Değer Okuma";
}

<h1>Web.Config Dosyasından Değer Okuma</h1>

<p>
    Mvc ile web config dosyasına yazacağımız özel verilere erişip uygulama içerisinde kullanabiliriz.
</p>

<p class="alert alert-info">
    <b>MailinGidecegiAdres :</b> @ViewBag.MailinGidecegiAdres
</p>

<p class="alert alert-danger">
    <b>Kullanıcı Adı :</b> @ViewBag.MailKullaniciAdi
</p>

<p class="alert alert-primary">
    <b>Sifre :</b> @ViewBag.MailSifre
</p>