
@{
    ViewBag.Title = "Web.Config Dosyasından Değer Okuma";
}

<h1>Web.Config Dosyasından Değer Okuma</h1>

<p>
    Mvc ile config dosyasına yazacağımız özel verilere erişip uygulama içerisinde kullanabiliriz.
</p>

<p class="alert alert-warning">
    @ViewBag.Mesaj
</p>