
@{
    ViewBag.Title = "Web.Config Dosyasından Değer Okuma";
}

<h1>Web.Config Dosyasından Değer Okuma</h1>

<h3>Email Kullanıcı Adı : @ViewBag.Usr</h3>

<hr />

<h3>Email Şifresi : @ViewBag.Pwd</h3>
