@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>
    Burası kategoriler komponent içeriği
</h1>

<ul>
    <li>
        <a href="">Anasayfa</a>
    </li>

    <li>
        <a href="">Hakkımızda</a>
    </li>

    <li>
        <a href="">İletişim</a>
    </li>
</ul>

@ViewBag.Secili