
@{
    ViewData["Title"] = "Mvc Session Kullanımı";
}

<h1>Mvc Session Kullanımı</h1>

<p>
    Sessionlar sunucu taraflı oturum işlemleri veya veri taşıma yöntemi olarak sayfalar arasında güvenli bir şekilde kullanabileceğimiz nesnelerdir.
</p>

<h1>Session Oluştur</h1>

<form action="/MVC12Session/SessionOlustur" method="post">
    <input type="text" name="kullaniciAdi" placeholder="Kullanıcı Adı" />
    <input type="text" name="sifre" placeholder="Şifre" />
    <input type="submit" value="Giriş" />
</form>

<a href="/MVC12Session/SessionOku">
    Session Oku Sayfasına Git
</a>

@Html.Raw(TempData["Mesaj"])