
@{
    ViewData["Title"] = "Session Oku";
}

<h1>Session Oku</h1>

<div>
    Sessiondaki Değer : 
    <b>
        @TempData["SessionBilgi"]
    </b>
</div>

<hr />

<a href="Index">
    Session Oluştur
</a>

<hr />

<a href="SessionSil">
    Session Sil
</a>
