
<style>
    #main { display: flex; align-items: center; padding-top: 40px; padding-bottom: 40px; }

    .form-signin { width: 100%; max-width: 330px; padding: 15px; margin: auto; background-color: #f5f5f5; }

    .form-signin .checkbox { font-weight: 400; }

    .form-signin .form-floating:focus-within { z-index: 2; }

    .form-signin input[type="email"] { margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0; }

    .form-signin input[type="password"] { margin-bottom: 10px; border-top-left-radius: 0; border-top-right-radius: 0; }

    input#floatingPassword { text-security: disc; -webkit-text-security: disc; -mox-text-security: disc; }
</style>

<div id="main">
    <div class="form-signin text-center">
        <form asp-action="Index" autocomplete="off">
            <img class="mb-4" src="/Img/lock-300x300.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 fw-normal">Giriş</h1>
            <div class="alert">
                @TempData["Mesaj"]
            </div>
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" name="email" required placeholder="name@example.com" autocomplete="new-email" autofocus="true">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" autocomplete="new-password" required>
                <label for="floatingPassword">Şifre</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Beni Hatırla
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Giriş</button>
            <p class="mt-5 mb-3 text-muted">© 2017–2022</p>
        </form>
    </div>
    <script>
        function changeType(x) {
            // onclick="(this.type='password')"
            // x.style.background = "yellow";
            x.type = 'password'
            x.removeAttribute('readonly')
            //x.removeAttribute("aria-autocomplete")
        }

        // Şifre alanını seçin (örneğin, id="password")
        const passwordInput = document.getElementById("floatingPassword");

        // Otomatik doldurmayı devre dışı bırakın
        passwordInput.setAttribute("autocomplete", "off");


        // Password input alanını seçin
        // İlgili input alanını seçin (örneğin, id="myInput")
        /*const inputElement = document.getElementById("floatingPassword");

        // MutationObserver oluşturun
        const observer = new MutationObserver((mutationsList) => {
            for (const mutation of mutationsList) {
                if (mutation.type === "attributes" && mutation.attributeName === "aria-autocomplete") {
                    // Eğer aria-autocomplete="false" ise, özniteliği kaldırın
                    if (inputElement.getAttribute("aria-autocomplete") === "false") {
                        inputElement.removeAttribute("aria-autocomplete");
                    }
                }
            }
        });

        // Gözlemciyi başlatın
        observer.observe(inputElement, { attributes: true });

        // Örnek olarak aria-autocomplete="false" özniteliği ekleyin
        //inputElement.setAttribute("aria-autocomplete", "false");

        // Input alanını seçin (örneğin, id="myInput")
        const inputElement = document.getElementById("floatingPassword");

        // Kullanıcının girdiği değeri maskeleyin
        inputElement.addEventListener("input", function () {
            const maskedValue = "•".repeat(inputElement.value.length);
            inputElement.value = maskedValue;
        });
        */
    </script>
</div>
