
@{
    ViewBag.Title = "Hata Yakalama";
}

<h2>Hata Yakalama</h2>

<p>
    Mvc de Global hata yakalama için web config dosyasına <code> < customErrors mode="Off" > </ customErrors > </code>  kodunu ekliyoruz
</p>

<p>
    FilterConfig.cs ye eğer yoksa filters.Add(new HandleErrorAttribute()); satırını ekliyoruz
</p>

<p>
    Controller.OnException yöntemini kullanabiliriz
</p>

<p>
    Global.asax da Application_Error olayını kullanabiliriz
</p>

https://www.tutorialsteacher.com/mvc/exception-handling-in-mvc