@{
    ViewData["Title"] = "Ürünler";
}

<div class="text-center">
    <h1 class="display-4">Web API Kullanımı</h1>
    <p>
        Asp.Net Core ile web api projesinin kullanım örnekleri.
    </p>
    
    <h2>CORS</h2>
    <p>
        Javascript ile Api ye istek atmaya izin vermek için önce api de cors ayarını etkinleştriyoruz.
    </p>
    <div id="products" class="row row-cols-3">
    </div>
</div>

@section Scripts {
    <script>
        fetch('https://localhost:7116/api/Products')
            .then(response => response.json()) // JSON olarak dönüştür
            .then(data => {
                console.log(data)
                // Ekrandaki div elementini seç
                let div = document.getElementById('products');
                // Ürünleri div içine yazdır
                data.forEach(product => {
                    div.innerHTML += `<div><a href="Home/Detail/${product.id}"><img src="/Img/${product.image}" alt="" class="img-fluid" /></a><h5>${product.name} - ${product.price} ₺</h5></div>`;
                });
            })
            .catch(error => {
                // Hata olursa konsola yazdır
                console.error(error);
            });
    </script>
}