@{
    ViewData["Title"] = "Ürünler";
}

<div class="text-center">
    <h1 class="display-4">Web API Kullanımı</h1>
    <p>
        Asp.Net Core ile web api projesinin kullanım örnekleri.
    </p>

    <h2>CORS</h2>
    <p>
        Javascript ile Api ye istek atmaya izin vermek için önce api de cors ayarını etkinleştriyoruz.
    </p>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Yeni Kayıt
</button>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Ürün Resmi</th>
        <th>Ürün Adı</th>
        <th>Fiyat</th>
        <th>Stok</th>
        <th>Eklenme Tarihi</th>
        <th></th>
    </tr>
    <tbody id="products"></tbody>
</table>

<input type="hidden" id="Id" />
<input type="hidden" id="ImageName" />

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ürün Bilgileri</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td>Ürün Adı</td>
                        <td>
                            <input type="text" id="Name" value="" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Resim</td>
                        <td>
                            <input type="file" name="Image" class="form-control" />
                            <span id="Image"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Fiyat</td>
                        <td>
                            <input type="text" id="Price" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Stok</td>
                        <td>
                            <input type="text" id="Stock" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Durum</td>
                        <td>
                            <input type="checkbox" id="IsActive" />
                            <label for="IsActive">Aktif</label>
                            <span id="Image"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Açıklama</td>
                        <td>
                            <textarea id="Description" rows="5" class="form-control"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary me-auto" data-bs-dismiss="modal">Vazgeç</button>
                <input type="submit" value="Ekle" class="btn btn-primary" onclick="Ekle()" />
                <input type="submit" value="Güncelle" class="btn btn-success" onclick="Guncelle()" id="btnGuncelle" disabled />
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        fetch('https://localhost:7116/api/Products')
            .then(response => response.json()) // JSON olarak dönüştür
            .then(data => {
                console.log(data)
                // Ekrandaki div elementini seç
                let div = document.getElementById('products');
                // Ürünleri div içine yazdır
                data.forEach(product => {
                    div.innerHTML += `<tr><td>${product.id}</td>
                                    <td><a href="/Home/ProductDetail/${product.id}"><img src="/Img/${product.image}" alt="" height="34" /></a></td>
                                    <td>${product.name}</td>
                                    <td>${product.price} ₺</td>
                                    <td>${product.stock}</td>
                                    <td>${product.createDate}</td>
                                    <td><input type="button" value="Düzenle" class="btn btn-sm btn-primary" onclick="editStudent(${product.id})">
                                        <input type="button" value="Sil" class="btn btn-sm btn-danger" onclick="deleteStudent(${product.id})">
                                    </td>
                                    </tr>`;
                });
            })
            .catch(error => {
                // Hata olursa konsola yazdır
                console.error(error);
            });
    </script>
}