@model Contact

@{
    ViewData["Title"] = "İletişim";
}

<h1>İletişim</h1>

<h4>Bize Ulaşın</h4>
<hr />

@Html.Raw(TempData["Mesaj"])

<div class="row">
    <div class="col-md-4">
        <form asp-action="Contact">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Gönder" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <h5>Biz Burdayız</h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24080.00191758031!2d28.945980515625!3d41.0252507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab974807d0575%3A0x44089783d1089f31!2sSiliconmade%20Academy!5e0!3m2!1str!2str!4v1661594075515!5m2!1str!2str" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-md-4">
        <h5>Adresimiz</h5>
        <address>
            Kemankeş Karamustafa Paşa, Ali Paşa Değirmeni Sk. No:3, 34560 Beyoğlu/İstanbul
        </address>
        <h5>Telefon Numaramız</h5>
        <div>
            0212 123 456 78 89
        </div>
    </div>
</div>

