@model Kullanici
@{
    ViewBag.Title = "MVC Partial Kullanımı";
    ViewData["CurrentMenu"] = "active";
}

@section OzelCss{
    <style>
        .active { background-color: silver; }
    </style>
}

<h2>MVC Partial Kullanımı</h2>

<p>
    Partial parça anlamına gelir ve kod sayısı fazlalaşan ve karmaşıklaşan uygulamalarda sayfalarımızı parçalara ayırarak yönetmemizi kolaylaştırır.
</p>

<partial name="_PartialTest" />

<h3>Partialda Model Kullanımı</h3>

<partial name="_PartilModelKullanimi" model="Model" />

<h3>Partialin Asenkron Çağrılması</h3>

@await Html.PartialAsync("_PartialModelKullanimi", Model)

<h3>RenderPartialAsync</h3>
@{
    await Html.RenderPartialAsync("_PartialModelKullanimi", Model);
}
<ul>
    @Html.Partial("_PartialMenu")
    <hr />
    <partial name="_PartialMenu" />
    <li>
        <a href="#">Şifre Yenileme</a>
    </li>
    <hr />
    @await Html.PartialAsync("_PartialMenu")
</ul>

<partial name="_PartialMenu" view-data="ViewData" />

<hr />

<h3>ViewDataDictionary ile Veri Gönderme</h3>

@await Html.PartialAsync("_PartialMenu", new ViewDataDictionary(ViewData) { { "id", 18 }, { "Baslik", "Partial Data" } })

@*
<partial name="_Partial" for="PartialViewModel" view-data="ViewData" />

@await Html.PartialAsync("_Header", new ViewDataDictionary { { "HeaderName", "User Management" }, { "TitleName", "List Of Users" } })

@{
    await Html.PartialAsync("_Header", new ViewDataDictionary { { "HeaderName", "User Management" }, { "TitleName", "List Of Users" } });
}*@