@{
    ViewBag.Title = "Mvc View Result Çeşitleri";
}

<h2>Mvc View Result Çeşitleri</h2>

<h4>Farklı View Döndürme</h4>

<a href="/MVC09ViewResults/FarkliViewDondur">View Result</a>

<h3>
    Redirect Result : Sayfayı bir url adresine yönlendirme için kullanılır
</h3>

<a href="/MVC09ViewResults/Yonlendir">Redirect Result</a>

<h3>
    RedirectToAction Result : Sayfayı başka bir actiona yönlendirme için kullanılır
</h3>

<a href="/MVC09ViewResults/ActionaYonlendir">RedirectToAction Result</a>

<h3>
    RedirectToRouteResult Result : Sayfayı başka bir route a yönlendirme için kullanılır
</h3>

<a href="/MVC09ViewResults/RouteYonlendir">RedirectToRouteResult Result</a>

<h3>
    PartialViewResult : Actiona gelen istek sonucu geriye bir PartialView döndürmek için kullanılır
</h3>

<partial name="_KategorilerPartial" />

<h4>
    Kategorileri Action ile Getir : controller daki bir action u çalıştırmak için kullanılır
</h4>

@*@Html.Action("KategorileriGetirPartial")*@ NetCore da Html.Action metodu desteklenmiyor.

<a asp-action="KategorileriGetirPartial">Kategorileri Getir Partial</a>

<input type="submit" id="btnKategorileriGetirPartial" value="Kategorileri Getir" class="btn btn-warning" />
<br />
<div id="Kategoriler"></div>

@section scripts{
    <script type="text/javascript">
        function KategorileriGetir()
        {
            $.ajax({
                url: '@Url.Action("KategorileriGetirPartial","MVC09ViewResults")',
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#Kategoriler").html(data);
                },
                error: function () {
                    alert("Hata alındı.");
                }
            });
        }
        //KategorileriGetir()
        $(function () {
            $("#btnKategorileriGetirPartial").click(function () {
                KategorileriGetir()
            });
        });
    </script>
}

<h4>
    JsonResult : controller daki bir actiona gelen istek sonucu geriye json türünde veri döndürebiliriz.
</h4>

<a asp-action="JsonDondur">JsonResult</a>

<h4>
    ContentResult : controller daki bir actiona gelen istek sonucu geriye xml türünde veri döndürebiliriz.
</h4>

<a asp-action="XmlContentResult">Xml Content Result</a>

<hr />

<h4>
    FileStreamResult ile Dosya İndirme : controller daki bir actiona gelen istek sonucu siteden dosya indirme işlemi yaptırmamızı sağlar.
</h4>

@Html.ActionLink("File Stream Result", "MetinDosyasiIndir")
