
@{
    ViewData["Title"] = "İletişim";
}

<h1>İletişim</h1>


<h2>İletişim Formu</h2>

@using (Html.BeginForm())
{
    <div class="container" id="iletisimFormu">
        <div class="row mb-3">
            <div class="col">
                Adınız
            </div>
            <div class="col">
                @Html.TextBox("txtAd", null, null, new {@class = "form-control"})
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                Soyadınız
            </div>
            <div class="col">
                @Html.TextBox("txtSoyad", "Soyadı", null, new {@class = "form-control"})
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                Telefon Numaranız
            </div>
            <div class="col">
                @Html.TextBox("txtTelefon", null, null, new {@class = "form-control"})
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                Mesajınız
            </div>
            <div class="col">
                @Html.TextArea("txtMesaj", null, new {@class = "form-control"})
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <input type="submit" value="Gönder" class="btn btn-primary" />
            </div>
        </div>
    </div>
}