@{
    ViewData["Title"] = "Admin Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Web API Kullanımı</h1>
    <p>
        Asp.Net Core ile web api projesinin kullanım örnekleri.
    </p>
    <div id="products" class="row row-cols-3">
    </div>
</div>

@section Scripts {
    
}