
@{
    ViewData["Title"] = "Mvc Model Kullanımı ve Model Binding";
}

<h1>Mvc Model Kullanımı ve Model Binding</h1>

<p>
    Class ları Mvc de model olarak tanımlayıp veri taşımada kullanabilmekteyiz.
</p>

<p>
    1 sayfada 1 tane model class ı kullanılabilmekteyiz.
</p>

<p>
    1 View a model tanımlamak için sayfanın en üstüne @@ ifadesinden sonra ilgili class adını yazmalıyız
</p>

<ul>
    <li><a href="/MVC04ModelBinding/Kullanici">Kullanıcı Sayfası</a></li>
    <li><a href="/MVC04ModelBinding/Adres">Adres Sayfası</a></li>
    <li><a href="/MVC04ModelBinding/UyeSayfasi">Üye Sayfası</a></li>
</ul>