@{
    ViewBag.Title = "File Upload - Dosya Yükleme İşlemi";
    var dosyalar = new DirectoryInfo(Server.MapPath("/Images"));
    var infoList = dosyalar.GetFiles();
}

<h2>File Upload - Dosya Yükleme İşlemi</h2>

<form action="" method="post" enctype="multipart/form-data">

    <input type="file" name="dosya" id="fileup" />
    <hr />
    <input type="submit" value="Yükle" />

</form>

<p>
    Mvc de resim yükleme için form elementine enctype="multipart/form-data" attribute ünü mutlakaeklemeliyiz yoksa dosya yüklenmez!!
</p>

@TempData["message"]

<hr />

@foreach (var item in infoList)
{
    <span><img src="/Images/@item.Name" alt="@item.Name" title="@item.Name" height="118" /></span>
}