
@{
    ViewData["Title"] = "Mvc Dosya Yükleme";
}

<h1>Mvc Dosya Yükleme</h1>

<p>
    Dosya yüklemek için bir form elementine ihtiyaç var.
    Form elementine enctype="multipart/form-data" attribute ünü eklemek zorundayız
    Formda dosya yüklemek için type ı file olan element gerekli
    File elementine verilen isim önemli post metodunda bu elementin name değerine göre eşleşme sağlanıyor!
</p>

<form asp-action="Index" enctype="multipart/form-data">
    <input type="file" name="Image" class="form-control" />
    <hr />
    <input type="submit" value="Yükle" class="btn btn-primary" />
</form>
<hr />
<img src="/Img/@TempData["Resim"]" alt="" height="180" />