
<li class="nav-item">
    <a class="nav-link text-dark" href="/MVC07Partial">Partial</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" href="/MVC08ControllerToView">ControllerToView</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" href="/MVC09ViewToControllerData">ViewToController</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" href="/MVC10ModelBinding">ModelBinding</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" href="/MVC11ModelValidation">ModelValidation</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" href="/MVC13Cookie">Cookie</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" href="/MVC14Session">Session</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" href="/MVC15ViewResults">ViewResults</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" href="/MVC16FileUpload">FileUpload</a>
</li>