
@{
    ViewData["Title"] = "Appsettins Dosyasından Veri Okuma";
}

<h1>Appsettins Dosyasından Veri Okuma</h1>

<h5>
    Email : @TempData["Email"]
</h5>

<h5>
    Mail Sunucu : @TempData["MailSunucu"]
</h5>

<h5>
    Mail Kullanıcı Adı :  @TempData["UserName"]
</h5>

<h5>
    Mail Şifre : @TempData["Password"]
</h5>