@{
    ViewData["Title"] = "Session Oku";
}

<h1>Session Oku</h1>


<a asp-action="Index">
    Session Oluştur Sayfasına Git
</a>

<hr />

@if (TempData["SessionBilgi"] is not null)
{
    <div>
        Sessiondaki Değer :
        <b>
            @TempData["SessionBilgi"]
        </b>
        Guid :
        <b>
            @TempData["UserGuid"]
        </b>
    </div>

    <hr />

    <form asp-action="SessionSil">
        <input type="submit" value="Çıkış" class="btn btn-danger" />
    </form>
}
else{
    <div>Session Boş</div>
}