@{
    ViewData["Title"] = "Session Oku";
}

<h1>Session Oku</h1>


<a asp-action="Index">
    Session Oluştur Sayfasına Git
</a>

<hr />

@if (Context.Session.GetInt32("IsLoggedIn") == 1)
{
    <h3>
        Hoşgeldin : @Context.Session.GetString("Kullanici")
    </h3>
    <h3>
        Guid : @Context.Session.GetString("UserGuid")
    </h3>

    <hr />

    <form asp-action="SessionSil">
        <input type="submit" value="Çıkış" class="btn btn-danger" />
    </form>
}
else{
    <div>Session Boş</div>
}