
@{
   
}

<h2>MVC Post İşlemi</h2>

<form method="post">
    <input type="text" name="txtad" />
    <input type="submit" name="btnGonder" value="Gönder" />
</form>

<h2>MVC Get İşlemi</h2>

<form method="get">
    <input type="text" name="kelime" />
    <input type="submit" name="btnGonder" value="Gönder" />
</form>
